@model IEnumerable<MVC.Models.User>
@{
    ViewData["Title"] = "Home Page";
}

<h1 class="display-4">Welcome</h1>
@{
    ViewBag.Title = "Все пользователи";
}

@if (User.IsInRole("admin"))
{
    <a asp-controller="Admin" asp-action="AdminPanel">Управление</a><br />
}

    @if (!(User.Identity.IsAuthenticated))
    {
        <a asp-controller="Account" asp-action="Register">Зарегеистрироваться</a>
        <br />
        <a asp-controller="Account" asp-action="Login">Войти</a>
        <br />
    }
    else
    {
        <a asp-controller="Account" asp-action="ChangePassword">Сменить пароль</a>
        <br />
        <a asp-controller="Home" asp-action="SearchReq">Подать заявку на поиск</a>
        <br />
        <a asp-controller="Home" asp-action="VolReq">Стать волонтёром</a>
        <br />
        <form method="post" asp-controller="Account" asp-action="Logout">
            <input type="submit" value="Выход" />
        </form>
    }