@model IEnumerable<MVC.Models.User>
@{
    ViewData["Title"] = "Home Page";
}

<h1 class="display-4">Welcome</h1>

@if (User.IsInRole("admin"))
{
    <a class="main-menu__link" asp-controller="Admin" asp-action="AdminPanel">Управление</a>
}

@if (User.Identity.IsAuthenticated)
{   
    <a class="main-menu__link" asp-controller="Home" asp-action="SearchReq">Подать заявку на поиск</a>
    @if (!User.IsInRole("volunteer"))
    {
        <a class="main-menu__link" asp-controller="Home" asp-action="VolReq">Стать волонтёром</a>
    }
    <a class="main-menu__link" asp-controller="Home" asp-action="CheckOperations">Просмотреть список операций</a>
    <br />
    <form method="post" asp-controller="Account" asp-action="Logout">
        <input type="submit" value="Выход" />
    </form>
}