@model MVC.ViewModels.SearchRequestViewModel

@{
    string[] Sex = new[] { "Мужской", "Женский" };
}

    <h1 class="profile__title">Заявка на поиск</h1>

    <form method="post" asp-action="SearchReq" asp-controller="Home" asp-anti-forgery="true" enctype="multipart/form-data">
        <div class="validation" asp-validation-summary="ModelOnly"></div>
        <div>
            <div class="form-group">
                <label asp-for="FullName" class="control-label profile__label">ФИО:</label><br />
                <input asp-for="FullName" class="form-control profile__input" />
                <span asp-validation-for="FullName"></span>
            </div>

            <div class="form-group">
                <label asp-for="Age" class="control-label profile__label">Возраст:</label><br />
                <input asp-for="Age" class="form-control profile__input" />
                <span asp-validation-for="Age"></span>
            </div>

            <div class="form-group">
                <label asp-for="Sex" class="control-label profile__label">Пол:</label><br />
                @foreach (var sex in Sex)
                {
                    <input type="radio" asp-for="Sex" value="@sex" />@sex<br />
                }
                <span asp-validation-for="Sex"></span>
            </div>

            <div class="form-group">
                <label asp-for="MissArea" class="control-label profile__label">Область пропажи:</label><br />
                <input asp-for="MissArea" class="form-control profile__input" />
                <span asp-validation-for="MissArea"></span>
            </div>

            <div class="form-group">
                <label asp-for="MissTime" class="control-label profile__label">Время пропажи:</label><br />
                <input asp-for="MissTime" class="form-control profile__input" />
                <span asp-validation-for="MissTime"></span>
            </div>

            <div class="form-group">
                <label asp-for="AddInf" class="control-label profile__label">Дополнительная информация:</label><br />
                <textarea asp-for="AddInf" class="form-control profile__input"></textarea>
                <span asp-validation-for="AddInf"></span>
            </div>

            <div class="form-group">
                <label asp-for="Photo" class="control-label profile__label">Фото:</label><br />
                <input asp-for="Photo" type="file" accept="image/*" class="form-control-file profile__input" />
                <span asp-validation-for="Photo"></span>
            </div>

            <input type="submit" value="Отправить" class="button-secondary profile__button" />

        </div>
    </form>
    <a class="main-link profile__main-link" asp-controller="Home" asp-action="Index">Назад</a>
